@import "tailwindcss";

@layer utilities {
  .animate-infinite-scroll {
    animation: infinite-scroll 40s linear infinite;
  }
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
